<!--     


<div class='box'>
  <div class='box-form'>
    <div class='box-login-tab'></div>
    <div class='box-login-title'>
      <div class='i i-login'></div><h2>SEQUENCE INFOMATIONS</h2>
    </div>
    <div class='box-login'>
      <div class='fieldset-body' id='login_form'>
        <button onclick="" class='b b-form i i-more' title='Mais Informações'></button>
        	
        <p class='field'>
          <label for='user'>Sequence Name :</label>
          <input type='text' id='user' name='user' title='Username' />
          <span id='valida' class='i i-warning'></span>
        </p>
      	  <p class='field'>
          <label for='pass'>Project Name :</label>
          <input type='text' id='pass' name='pass' title='Password' />
          <span id='valida' class='i i-close'></span>
        </p>
        <p class='field'>
          <label for='user'>Category :</label>
          <input type='text' id='user' name='user'  disabled title='Username' />
          <span id='valida' class='i i-warning'></span>
        </p>
        <p class='field'>
          <label for='user'>Sub Category :</label>
          <input type='text' id='user' name='user' disabled title='Username' />
          <span id='valida' class='i i-warning'></span>
        </p>
        <p class='field'>
          <label for='user'>Players :</label>
          <input type='text' id='user' name='user' disabled title='Username' />

          <span id='valida' class='i i-warning'></span>
        </p>

        	<input type='submit' id='do_login' value='SAVE' title='Get Started' />
      </div>
    </div>
  </div>
  
</div>
 -->

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-6">
      <form action="" class="contact-form" autocomplete="none"  >

          <mat-card >
      <p>
          <mat-form-field appearance="outline" [hideRequiredMarker]="true">
              <mat-label>Player Name</mat-label>
              <input   type="text" matInput placeholder="Enter your name">
            </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" [hideRequiredMarker]="true">
              <mat-label>Birth Date</mat-label>
              <input  type="date" matInput placeholder="Enter Birth Date">
            </mat-form-field>
        </p>
        
        <p>
          <mat-form-field appearance="outline" [hideRequiredMarker]="true">
              <mat-label>Picture</mat-label>
              <input    type="text" 
               matInput >
               <input  type="file" id="upload">
            </mat-form-field>
        </p>
      
        <p>
          <mat-form-field appearance="outline" [hideRequiredMarker]="true">
              <mat-label>Position</mat-label>
              <input   type="text" matInput placeholder="Enter position">
            </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" [hideRequiredMarker]="true">
              <mat-label>Number</mat-label>
              <input  type="number" matInput placeholder="Enter number">
            </mat-form-field>
        </p>
        <div>
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
          <mat-label>Teams</mat-label>
          <mat-select >
            <mat-option >
              
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;	<mat-icon><img src="" width="30"></mat-icon>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
        <div><button type="submit" mat-raised-button color="primary">Submit</button></div>
      
      </mat-card>
          </form>      </div>
    <div class="col">
    </div>
  </div>

</div>


