    


<div class='box'>
  <div class='box-form'>
    <div class='box-login-tab'></div>
    <div class='box-login-title'>
      <div class='i i-login'></div><h2>SEQUENCE INFOMATIONS</h2>
    </div>
    <div class='box-login'>
      <div class='fieldset-body' id='login_form'>
        <button onclick="" class='b b-form i i-more' title='Mais Informações'></button>
        	
        <p class='field'>
          <label for='user'>Sequence Name :</label>
          <input type='text' id='user' name='user' title='Username' />
          <span id='valida' class='i i-warning'></span>
        </p>
      	  <p class='field'>
          <label for='pass'>Project Name :</label>
          <input type='text' id='pass' name='pass' title='Password' />
          <span id='valida' class='i i-close'></span>
        </p>
        <p class='field'>
          <label for='user'>Category :</label>
          <input type='text' id='user' name='user'  disabled title='Username' />
          <span id='valida' class='i i-warning'></span>
        </p>
        <p class='field'>
          <label for='user'>Sub Category :</label>
          <input type='text' id='user' name='user' disabled title='Username' />
          <span id='valida' class='i i-warning'></span>
        </p>
        <p class='field'>
          <label for='user'>Players :</label>
          <input type='text' id='user' name='user' disabled title='Username' />
          <input type="text" data-role="taginput" value="css3,javascript,html5,Metro 4">

          <span id='valida' class='i i-warning'></span>
        </p>

        	<input type='submit' id='do_login' value='SAVE' title='Get Started' />
      </div>
    </div>
  </div>
  
</div>

