<mat-form-field appearance="outline" [hideRequiredMarker]="true">
  <mat-label>Team1</mat-label>
  <mat-select >
    <mat-option>
      
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;	<mat-icon><img src="" width="30"></mat-icon>
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" [hideRequiredMarker]="true">
  <mat-label>Team2</mat-label>
  <mat-select >
    <mat-option>
      
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;	<mat-icon><img src="" width="30"></mat-icon>
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" [hideRequiredMarker]="true">
  <mat-label>Referee</mat-label>
  <mat-select >
    <mat-option>
      
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;	<mat-icon><img src="" width="30"></mat-icon>
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" [hideRequiredMarker]="true">
  <mat-label>Stadium</mat-label>
  <mat-select >
    <mat-option>
      
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;	<mat-icon><img src="" width="30"></mat-icon>
    </mat-option>
  </mat-select>
</mat-form-field>