<main class="main">
  <div class="container">
      <div class="content">
          <div class="word">
              <h2>Learn to code by watching others</h2>
              <p>See how experienced developers solve problems in real-time. Watching scripted tutorials is
                  great, but understanding how developers think is invaluable.</p>
          </div>
          <div class="form">
            <div class="ad">
              <p>Try it free 7 days
                  <span>Team</span>
              </p>
          </div>
              <form  class="contact-form"  [formGroup]="teamForm" (ngSubmit)="AddteamController()">
                  <div class="input-control input-2">

                      <input formControlName="name" type="text"  placeholder="Name" >

                      <div class="error" ></div>


                  </div>
                  <div class="input-control input-2">
                  
                    <input formControlName="creation_date" type="date"  placeholder="creation date" >

                    <div class="error" ></div>

                </div>
                <div class="input-control input-2">

                  <input formControlName="logo" type="text" required placeholder="logo" >

                  <div class="error" ></div>


              </div>
                       <div class="btn">
                      <button type="submit" id="submit">SUBMIT</button>
                  </div>
                
              </form>
          </div>
      </div>
  </div>
</main>

