
@mixin sidemenu($theme) {
    

}

.img{
    margin-left: 70px !important;
   top: 0px !important;
   background-color: #45346B !important;
  }
  .img2{
    margin-left: 13px !important;
   top: 0px !important;
   background-color: #45346B !important;
  }