
  <div class="wrapper rounded bg-white" >
    <div class="h3" style="margin-bottom: 30px; text-align: center;">Add a category</div>

  <div class="container" style="margin-top: 10px;">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-6">
        <form
          class="contact-form"
          [formGroup]="categoryForm"
          (ngSubmit)="AddCategoryController()">
          <mat-card>
            <p>
              <mat-form-field
                appearance="outline"
                [hideRequiredMarker]="true"
                style="width: 370px">
                <mat-label>Category Name</mat-label>
                <input
                  formControlName="name"
                  type="text"
                  matInput
                  placeholder="Enter category name"
                /> </mat-form-field
              >
            </p>
            <p>
              <mat-form-field
                appearance="outline"
                [hideRequiredMarker]="true"
                style="width: 370px">
                <mat-label>Category Description</mat-label>
                <input
                  formControlName="description"
                  type="text"
                  matInput
                  placeholder="Enter category desc"
                /> </mat-form-field
              >
            </p>

            <div style="display: flex; justify-content: center;">
              <button
                type="submit"
                mat-raised-button
                color="primary"
                style="padding: 10px; "
              >
                Submit
              </button>
            </div>
            <br />
              <small class="text-danger" *ngIf="errMsg" style="display: flex; justify-content: center;">
                {{ errMsg }}
              </small>
          </mat-card>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
