<!-- Image and text -->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="container2" appDnd (change)="selectVideo($event)">
              <input
                type="file"
                name="image"
                #fileDropRef
                id="fileDropRef"
                multiple
                (change)="fileBrowseHandler($event.target)"
              />
              <img src="assets/ic-upload-file.svg" alt="" />
              <h3 style="margin-top: 20px;">Drag and drop file here</h3>
              <h3>or</h3>
              <label for="fileDropRef" (click)="onSubmit()" style="margin-top: 20px;"
                >Browse for file</label
              >
            </div>
            <div class="files-list">
              <div class="single-file" *ngFor="let file of files; let i = index">
                <img src="assets/ic-file.svg" width="14px" alt="file" />
                <div class="info">
                  <h4 class="name">
                    {{ file?.name }}
                  </h4>
                  <p class="size">
                    {{ formatBytes(file?.size, 2) }}
                  </p>
        
                  <app-progress [progress]="file?.progress"></app-progress>
                </div>
                <img
                  src="assets/ic-delete-file.svg"
                  class="delete"
                  width="20px"
                  alt="file"
                  (click)="deleteFile(i)"
                />
              </div>
        
            </div>
          </div>
         
        </div>
      </div>

    </div>
    <div class="col" >
      <div class="wrapper">

        <video #vidRef   class="video" [src]="url" type="video/mp4" height="300" width="520" autoload="metadata">
           </video>
            <div class="playback">
          <div class="grabber start">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="10" height="14" viewBox="0 0 10 14" xml:space="preserve">
              <style type="text/css">
                .st0{fill:rgba(0,0,0,.2);}
              </style>
              <path class="st0" d="M1 14L1 14c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1h0c0.6 0 1 0.4 1 1v12C2 13.6 1.6 14 1 14zM5 14L5 14c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1h0c0.6 0 1 0.4 1 1v12C6 13.6 5.6 14 5 14zM9 14L9 14c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1h0c0.6 0 1 0.4 1 1v12C10 13.6 9.6 14 9 14z"
              />
            </svg> 
          </div>
          <div class="grabber end">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="10" height="14" viewBox="0 0 10 14" xml:space="preserve">
              <style type="text/css">
                .st0{fill:rgba(0,0,0,.2);}
              </style>
              <path class="st0" d="M1 14L1 14c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1h0c0.6 0 1 0.4 1 1v12C2 13.6 1.6 14 1 14zM5 14L5 14c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1h0c0.6 0 1 0.4 1 1v12C6 13.6 5.6 14 5 14zM9 14L9 14c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1h0c0.6 0 1 0.4 1 1v12C10 13.6 9.6 14 9 14z"
              />
            </svg>
          </div>
          <div class="seekable">
          </div>
          <div class="progress">
          </div>
        </div>
    
        <div class="controls">
          <div>
            <button class="reset-control fa fa-refresh" title="Reset Video"></button>
          </div>
          <div class="player-controls">
            <button class="seek-start fa fa-step-backward" title="Skip to Start"></button>
            <button class="play-control fa fa-play"  title="Play/Pause"></button>
            <button class="seek-end fa fa-step-forward" title="Skip to End"></button>
          </div>
          <div>
            <button class="trim-control" (click)="trim()"  data-toggle="modal" data-target="#staticBackdrop">Trim</button>
          </div>
          <div>
            <button class="trim-control" (click)="trim()"  data-toggle="modal" data-target="#staticBackdrop">Get Sequence</button>
          </div>
        </div>
      </div>    </div>
  </div>

</div>
     


  <div class="container">
  <div class="col">
    <form enctype='multipart/form-data' >

      <h3>Name: {{ videoData?.name }}</h3>
      <h3>Size: {{ videoData?.size }}</h3>
      <h3>Duration: {{videoData?.duration}} </h3>
      <h3>Extension: {{videoData?.extension}}</h3>
      <div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" style="margin-left: 200px;">
          Upload Video
        </button>
      </div>
    </form>
  </div>
 </div>
      


 
      
