



<div class="row">


  
  <!-- Table -->
  <div class="col-10">
    <body class="hm-gradient">
    
      <main>
          
          <!--MDB Tables-->
          <div class="container mt-4">
  
            
  
              <div class="card mb-4">
                  <div class="card-body">
                      <!-- Grid row -->
                      <div class="row">
                          <!-- Grid column -->
                          <div class="col-md-12">
                              <h5 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">  <div class="col-2">

    
                                <div class="row mb-2 ">
                                    <div class="col text-center ">
                               
                                      <a href="#" class="btn btn-lg btn-success position" data-toggle="modal" data-target="#basicModal">Add Project</a>
                                    </div>
                                  </div>
                                <!-- basic modal -->
                                <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-body">
                                        <div ><form (submit)="$event.preventDefault()" >
                                            <br><br><br>
                                              <fieldset>
                                                <legend><span class="number">1</span>Project details</legend>
                                                <label for="name">Project name:</label>
                                                <input type="text" id="name" name="name"   [(ngModel)]="project.name"  />
                                                <label for="mail">Project description:</label>
                                                <textarea
                                                  type="text"
                                                  id="mail"
                                                  name="description"  [(ngModel)]="project.description" 
                                                
                                                  rows="5"
                                                ></textarea>
                                                <label for="name">Project path:</label>
                                                <input type="text" id="name" name="project_path"    [(ngModel)]="project.project_path"  />
                                                <input type="file" id="path" (change)="onChange($event)" directory/>
                                                <label>Source</label>
                                                <input type="radio" id="local" value="local" name="local" /><label
                                                  for="under_13"
                                                  class="light"
                                                  >Local</label
                                                ><br />
                                                <input type="radio" id="live" value="live" name="live" /><label
                                                  for="over_13"
                                                  class="light"
                                                  >Live</label
                                                >
                                              </fieldset>
                                            
                                              <button type="submit" (click)="createProjectController()" data-dismiss="modal" >Next</button>
                                            </form></div>      </div>
                                    </div>
                                  </div>
                                </div>
                              </div></h5>
                              <div class="input-group md-form form-sm form-2 pl-0">
                                  <input class="form-control my-0 py-1 pl-3 purple-border" type="text" placeholder="Search something here..." aria-label="Search">
                                  <span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"><a><i class="fa fa-search white-text" aria-hidden="true"></i></a></span>
                              </div>
                          </div>
                          <!-- Grid column -->
                      </div>
                      <!-- Grid row -->
                      <!--Table-->
                      
                      <table class="table table-striped">
                          <!--Table head-->
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Project Name</th>
                                  <th>Project Description</th>
                                  <th>Project Path</th>
                              </tr>
                          </thead>
                          <!--Table head-->
                          <!--Table body-->
                          <tbody>
                              <tr *ngFor="let p of projects2;  let index = index;">
                                  <th scope="row">1</th>
                                  <td>{{p.name}}</td>
                                  <td>{{p.description}}</td>

                                  <td>{{p.project_path}}</td>
                                  <td><button class="btn btn-primary"  (click)="startProject(p.project_path,p._id)" >start</button></td>

                                  


                              </tr>
                              
                          </tbody>
                          <!--Table body-->
                      </table>
                      <!--Table-->
                  </div>
              </div>
             
             
              
              <hr class="my-4">
            
             
  
          </div>
          <!--MDB Tables-->
        
      </main>
    
  </body>

  </div>
</div>
